* {
    padding: 0;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #f1f1f1;
    color: #000;
}

.footer a {
    color: #000;
}

.footer a:hover {
    color: #4CAF50;
}